<div class="page-header">
  <h1>Editing User #<%= @user.id %></h1>
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :nome, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :nome, @user.nome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sobrenome, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sobrenome, @user.sobrenome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :telefone, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :telefone, @user.telefone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :endereco, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :endereco, @user.endereco, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :cidade, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :cidade, @user.cidade, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :estado, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :estado, @user.estado, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :cep, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :cep, @user.cep, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
