<div class="page-header">
  <h1>Usuario #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome</dt>
  <dd><%= @user.nome %></dd>

  <dt>Sobrenome</dt>
  <dd><%= @user.sobrenome %></dd>

  <dt>Telefone</dt>
  <dd><%= @user.telefone %></dd>

  <dt>Endereco</dt>
  <dd><%= @user.endereco %></dd>

  <dt>Cidade</dt>
  <dd><%= @user.cidade %></dd>

  <dt>Estado</dt>
  <dd><%= @user.estado %></dd>

  <dt>Cep</dt>
  <dd><%= @user.cep %></dd>

</dl>
