<div class="page-header">
  <h1>Editar Item Existente #<%= @item.id %></h1>
</div>

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_tag(item_url(@item), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :secao_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :secao_id, options_from_collection_for_select(Secao.all, :id, :secao), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :subsecao_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :subsecao_id, options_from_collection_for_select(Subsecao.all, :id, :subsecao), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item, @item.item, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :marca, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :marca, @item.marca, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :descricao, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :descricao, @item.descricao, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :preco, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :preco, @item.preco, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :imagem, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :imagem, @item.imagem, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Atualizar Item", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
